.aboutContainer h2 {
  font-weight: 400;
}

.aboutContainer li {
  margin-bottom: 10px;
}

.aboutContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}

.introSection {
  line-height: 1.8;
}

.introSection p {
  margin-bottom: 1.5em;
}

.introSection p:last-child {
  margin-bottom: 0;
}

.introSection strong {
  font-weight: 600;
}
