.postList {
  font-weight: normal;
  list-style: none;
  padding: 0;
  margin: 0;
}

.postItem {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
  gap: 2rem;
}

.postTitle {
  color: #111827;
  word-break: keep-all;
}

.postDate {
  font-size: normal;
  color: #6f6f6f;
}

.skeletonPostItem {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
  gap: 2rem;
}

.skeletonTitle {
  flex: 1; /* 좌우 폭 채우기 */
  height: 1.2rem;
  background-color: transparent;
  border-radius: 4px;
}

@media (max-width: 600px) {
  .postItem {
    gap: 2rem;
  }

  .postDate {
    min-width: 6rem;
    text-align: right;
  }

  .skeletonPostItem {
    gap: 2rem;
  }
}
